cocos2d
proj.ios_mac/gyroscope-test.xcodeproj/project.xcworkspace/contents.xcworkspacedata
proj.ios_mac/gyroscope-test.xcodeproj/project.xcworkspace/xcshareddata/gyroscope-test.xcscmblueprint
proj.ios_mac/gyroscope-test.xcodeproj/project.xcworkspace/xcuserdata/enric.xcuserdatad/UserInterfaceState.xcuserstate
proj.ios_mac/gyroscope-test.xcodeproj/xcuserdata/enric.xcuserdatad/xcschemes/gyroscope-test-desktop.xcscheme
proj.ios_mac/gyroscope-test.xcodeproj/xcuserdata/enric.xcuserdatad/xcschemes/gyroscope-test-mobile.xcscheme
proj.ios_mac/gyroscope-test.xcodeproj/xcuserdata/enric.xcuserdatad/xcschemes/xcschememanagement.plist
